[submodule "ambari1/files/keedio-stacks"]
	path = ambari1/files/keedio-stacks
	url = https://github.com/keedio/keedio-stacks.git
[submodule "ambari2/files/keedio-stacks"]
	path = ambari2/files/keedio-stacks
	url = https://github.com/keedio/keedio-stacks.git
	branch = ambari2
[submodule "ambari1/buildoop"]
	path = ambari1/buildoop
	url = https://github.com/keedio/buildoop.git
